.iframe {
    position: relative;
    top: 200px;
    left: 100px;
}

.iframe-div {
    top: -500px;
    position: fixed;
    width: 1800px;
    z-index: -1;
}

.autosugest {
    width: 100vw;
    background-color: white;
    height: 100px;
}

.iframe-footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 450px;
    width: 100vw;
    overflow: hidden;
}

.iframe2 {
    position: relative;
    top: -30px;
    left: 100px;
}

.iframe-side {
    position: absolute;
    right: 0;
    height: 100vw;
    background-color: white;
    width: 425px;
}
